opencv-python==4.11.0.86
numpy==2.2.4
pandas==2.2.3
scipy==1.15.2
matplotlib==3.10.1
scikit-image==0.25.2
librosa
soundfile

torch
torchaudio
pytorch-lightning

numpy
soundfile
librosa
scipy
scikit-learn
matplotlib

pyyaml
